GOOGLE_VISION_API_KEY=your_google_cloud_vision_api_key_here

FIREBASE_SENDER_ID=your_firebase_sender_id
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.example.yourApp

FIREBASE_WEB_API_KEY=your_web_api_key
FIREBASE_WEB_APP_ID=your_web_app_id

FIREBASE_ANDROID_API_KEY=your_android_api_key
FIREBASE_ANDROID_APP_ID=your_android_app_id

FIREBASE_IOS_API_KEY=your_ios_api_key
FIREBASE_IOS_APP_ID=your_ios_app_id

FIREBASE_WINDOWS_APP_ID=your_windows_app_id
